.Loader
    .category
        width: 100%
        background-color: $primary
        color: $background
        font-size: $font-size-6
    .row
        .item
            height: 100%
            width: 100%
            transition: all .3s
            &:hover
                background-color: darken($background, 10%)
            .circle
                height: 50px
                width: 50px
                border-radius: 100%
                animation: circleLoad 1s infinite linear
                &.one
                    border: 3px solid $primary
                    border-bottom-color: $black
                &.two
                    border: 5px dotted $primary
                    border-bottom-color: $black
                &.three
                    border: 3px dashed $primary
                    border-bottom-color: $black
                &.four
                    border: 5px double $primary
                    border-bottom-color: $black
            .square
                display: flex
                flex-direction: column
                justify-content: center
                align-items: center
                height: 60px
                width: 60px
                border-radius: 10px
                &.one
                    border: 3px solid $primary
                    animation: squareLoad 1.5s infinite linear
                &.two
                    border: 5px dotted $primary
                    animation: squareLoad 1.5s infinite linear
                &.three
                    border: 3px dashed $primary
                    animation: squareLoad 1.5s infinite linear
                &.four
                    border: 5px double $primary
                    animation: squareLoad 1.5s infinite linear
.ui
    .dimmer
        background-color: rgba(0,0,0,.3)
