.Loader
    .category
        width: 100%

        color: $black
        font-size: $font-size-6
        border-bottom: 5px solid rgba($black, 0.3)
    .row
        padding: 0px 10px
        .item
            height: 100%
            width: 100%